@charset "UTF-8";


figure {
    display: inline-block;
}


/* thumbnail */
.entryThumbnail {
    display: inline-block;
    margin: 5px 15px 5px 0;
}

.thumbnailLink {
    display: block;
}


/*
* ATTACHMENT PAGE
* styles for template attachment.php
*/
.wikiwp-attachment {
    margin: 0;
}

.wikiwp-attachment .wp-caption-text {
    padding-top: 15px;
}

.wikiwp-attachment-size .wikiwp-entry-title {
    margin: 0 0 15px 0;
}

.wikiwp-attachment-size .wikiwp-attachment-full-size-link {
    margin-left: 15px;
}