@import url("fonts.css");
@import url("media.css");

@media only screen {
    html, body {
        font-family: sans-serif;
        font-size: 15px;
        color: #333333;
        background-color: #F9F9F9;
    }

    /* FONTS */
    h1 {
        font-family: Georgia,serif;
        font-size: 2.2em;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 1.2em;
        margin-bottom: 0.2em;
        font-family: Georgia,serif;
        font-weight: normal;
    }

    h2 {
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.4em;
    }

    h4 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1em;
        font-weight: bold;
    }

    h6 {
        font-size: 1em;
        font-style: italic;
    }

    p {
        margin-top: 1em;
        margin-bottom: 1em;
        line-height: 1.5em;
        text-align: justify;
    }

    a { color: #0645ad; }

    a:link { text-decoration: none; }

    a:visited { color: #0b0080; }

    input {
        border-color: #E5E5E5;
        padding: 0.6em;
        font-weight: normal;
        background-color: #F9F9F9;
        -webkit-transition: border 0.3s;
        -moz-transition: border 0.3s;
        -ms-transition: border 0.3s;
        -o-transition: border 0.3s;
        transition: border 0.3s;
    }

    textarea {
        border-color: #E5E5E5;
        padding: 0.6em;
        background-color: #F9F9F9;
        -webkit-transition: border-color 0.3s;
        -moz-transition: border-color 0.3s;
        -ms-transition: border-color 0.3s;
        -o-transition: border-color 0.3s;
        transition: border-color 0.3s;
    }

    input:focus,
    textarea:focus {
        border: 1px solid #cccccc;
        outline: none;
        -webkit-transition: border 0.3s;
        -moz-transition: border 0.3s;
        -ms-transition: border 0.3s;
        -o-transition: border 0.3s;
        transition: border 0.3s;
    }

    input[type="submit"] {
        margin: 0.5em 0 0 0;
        border: 1px solid #cccccc;
        padding: 0.6em 2em;
        width: auto;
        color: #333333;
        background-color: white;
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        -ms-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        transition: background-color 0.3s;
    }

    input[type="submit"]:hover,
    input[type="submit"]:active {
        cursor: pointer;
        border-color: #4198E5;
        background-color: #D5E0E5;
        -webkit-transition: border 0.3s, color 0.3s, background-color 0.3s;
        -moz-transition: border 0.3s, color 0.3s, background-color 0.3s;
        -ms-transition: border 0.3s, color 0.3s, background-color 0.3s;
        -o-transition: border 0.3s, color 0.3s, background-color 0.3s;
        transition: border 0.3s, color 0.3s, background-color 0.3s;
    }

    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        overflow: hidden;
        -webkid-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        clear: both;
        border: 1px solid #E5E5E5;
        border-radius: none;
        padding: 0.6em;
        height: 32px;
        width: 100%;
        max-width: 100%;
        font-weight: normal;
        background: url('../images/select.png') no-repeat right white;
        background-size: auto 100%;
    }

    select option { padding: 0.6em; }


    /* Media */
    .wp-caption {
        text-align: center;
    }

    .wp-caption-text {
        line-height: 15px;
        padding-top: 5px;
        margin: 0;
    }


    /* Header */
    .header-content {
        border-right: 1px solid #E5E5E5;
        border-left: 1px solid #E5E5E5;
        background-color: white;
    }

    .meta {
        border-right: 1px solid #E5E5E5;
        border-left: 1px solid #E5E5E5;
        background-color: white;
    }





    /* Category */
    .category-description {
        display: inline-block;
        border-left: 1px dashed #aaaaaa;
        margin: 0 0 0 30px;
        padding: 10px 0 0 10px;
        font-size: smaller;
        color: #aaaaaa;
    }

    /* Excerpt */
    .entryTypePostExcerpt .entryTitle {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.3em;
    }

    .excerpt-thumbnail {
        box-sizing: border-box;
        float: left;
        margin-top: 5px;
        margin-right: 15px;
    }

    .excerpt p { margin-top: 15px; }


    /* Sidebar */
    aside input:focus { border-right: none; }

    .aside-menu-button {
        margin-top: 15px;
        margin-right: 30px;
        background-image: url('../images/sprite.png');
        background-repeat: no-repeat;
        background-size: auto 200%;
        background-position: -64px 0;
        -webkit-transition: border 0.3s, background-color 0.3s;
        -moz-transition: border 0.3s, background-color 0.3s;
        -ms-transition: border 0.3s, background-color 0.3s;
        -o-transition: border 0.3s, background-color 0.3s;
        transition: border 0.3s, background-color 0.3s;
    }

    .aside-menu-button:hover {
        background-color: #F0F0F0;
        -webkit-transition: border 0.3s, background-color 0.3s;
        -moz-transition: border 0.3s, background-color 0.3s;
        -ms-transition: border 0.3s, background-color 0.3s;
        -o-transition: border 0.3s, background-color 0.3s;
        transition: border 0.3s, background-color 0.3s;
    }

    .aside-menu-button-active {
        right: 238px;
        background-image: url('../images/sprite.png');
        background-repeat: no-repeat;
        background-position: -32px 0;
        background-color: #333333;
    }

    aside .widget,
    aside .menu ul { border-bottom: 1px solid #555555; }

    .postmeta-section {
        border: 1px solid #777777;
        background-color: #555555;
    }

    .postmeta .categories {
        border-top: none;
        border-bottom: none;
        border-right: none;
        border-left: none;
        background-color: transparent;
    }

    .postmeta .tags,
    .postmeta .related {
        border-top: 1px solid #555555;
        border-bottom: none;
        border-right: none;
        border-left: none;
        background-color: transparent;
    }


    /* Footer */
    footer input {
        border-right: none;
        background: white;
    }

    footer input:focus { border-right: none; }

    footer .dynamic-sidebar-widget { padding: 0; }
}


@media only screen and (min-width:768px){
    /* Fonts */
    input { width: 60%; }

    /* Header */
    header.container-menu-side-open {
        width: 100%;
        margin-left: 0;
        padding-right: 15px;
    }

    header.container-menu-side-open .header-content {
        width: auto;
        margin-left: 200px;
    }

    header.container-aside-open {
        width: 100%;
        margin-right: 0;
        padding-right: 315px;
    }

    header.container-aside-open .header-content {
        width: inherit;
        margin-right: 300px;
    }

    .meta-search-form input:focus { width: 60%; }


    /* Content */


    /* Sidebar */
    .aside-container {
        background: transparent;
    }

    aside .widget,
    aside .menu,
    aside .menu ul { color: #4D4D4D; }

    aside .widget,
    aside .menu ul { border-bottom: 1px solid #E5E5E5; }

    .aside-menu-button {
       background-color: white;
        -webkit-transition: border 0.3s, background-color 0.3s;
        -moz-transition: border 0.3s, background-color 0.3s;
        -ms-transition: border 0.3s, background-color 0.3s;
        -o-transition: border 0.3s, background-color 0.3s;
        transition: border 0.3s, background-color 0.3s;
    }

    .aside-menu-button:hover {
        background-color: #F0F0F0;
        -webkit-transition: border 0.3s, background-color 0.3s;
        -moz-transition: border 0.3s, background-color 0.3s;
        -ms-transition: border 0.3s, background-color 0.3s;
        -o-transition: border 0.3s, background-color 0.3s;
        transition: border 0.3s, background-color 0.3s;
    }

    .aside-menu-button-active { right: 300px; }

    .postmeta { color: #4D4D4D; }

    .postmeta-section {
        border: 1px solid #DDDDDD;
        background-color: #E5E5E5;
    }

    .postmeta .tags,
    .postmeta .related { border-top: 1px solid #E5E5E5; }
}

@media only screen and (min-width:1200px) {
    /* Header */
    #logo {
        position: absolute;
        top: 30px;
        left: 15px;
        margin: 0;
        height: 200px;
        max-height: 200px;
        width: 200px;
    }

    #site-logo {
        display: block;
        width: 100%;
        text-align: center;
    }

    .logo-img {
        margin-bottom: 15px;
        max-height: 150px;
    }

    .blog-description {
        display: block;
        margin: 0;
        text-align: center;
    }

    .admin-bar #logo { margin-top: 32px }
}